*.egg-info/
*.py[cod]
*.swp
.DS_Store
.env
.env.*
!.env.example
.cache/
.coverage
.eggs/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
env/
logs/
node_modules/
private/
public/files/
sites/
site_config.json
__pycache__/
